<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Price</th>
      <th>Basket</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.code %></td>
        <td><%= product.price %></td>
        <% line_item = @current_basket&.line_items&.find_by(product: product) %>
        <% if line_item.present? %>
          <td><%= button_to "Add to basket", line_item_path(operation: 'add', id: line_item.id, product_id: product.id), method: :put %></td>
        <% else %>
          <td><%= button_to "Add to basket", line_items_path(product_id: product.id) %></td>
        <% end %>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Basket", basket_path(@current_basket) %>
<br>
<br>
<%= link_to 'New Product', new_product_path %>
